doctype html
html
	include meta
//- head
//- 	include meta
body
	.loading
		.txt.f30.wTxt
			| LOADING.. 
			i 0
			| %
	.calendarPop.hide
		.bg
		.wrap.f30
			.clozBtn 
			h1.f40 - 加入行事曆 -
			a.btn.blueBtn(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NjJxdm1xYzExMDg0NWExc3ZzMm1ncTk1c2cgcXA1ajJ2cnVsMnVyY2NmcWo0cTBxb3V0dW9AZw&tmsrc=qp5j2vrul2urccfqj4q0qoutuo%40group.calendar.google.com",target='_blank') 加入google行事曆
			.tt (ios/android適用)
			a.btn.greenBtn(href="event.ics",target='_blank') 加入手機行事曆
			.tt (ios safari 適用)


	.bigContainer.hide
		.container
			//- .bg
			.l1 
			.l2 
			.l3
			.page.p1
				.wrap
					.t11
					.t1.bAni
					.t2.lAni
					.t3.rAni
					.t4.lAni
					.t5.rAni
					.t6.lAni
					.t7.rAni
					.t8.lAni
					.t9.rAni
					.t10.lAni
					.calendarBtn


			

	.loadPicWrap(style='display:none')
		img(src='images/bg.jpg')
		img(src='images/cloz.png')
		img(src='images/l1.png')
		img(src='images/l2.jpg')
		img(src='images/l3.jpg')
		img(src='images/bg.jpg')
		img(src='images/bg.jpg')
		img(src='images/bg.jpg')
		img(src='images/p1.png')
		img(src='images/p2.png')
		img(src='images/p3.png')
		img(src='images/p4.png')
		img(src='images/p5.png')
		img(src='images/p6.png')
		img(src='images/p7.png')
		img(src='images/p8.png')
		img(src='images/p9.png')
		img(src='images/p10.png')
		img(src='images/p11.png')
		

	
	script(type='text/javascript', src='js/index.js')
